In [789]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [790]:
from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process
from xgboost import XGBClassifier
from sklearn.model_selection import StratifiedKFold, cross_val_score, GridSearchCV, train_test_split
from sklearn.linear_model import LogisticRegressionCV
from sklearn.feature_selection import RFECV
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from sklearn import feature_selection
from sklearn import metrics
from sklearn.linear_model import LogisticRegression, RidgeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB

## Load match related data

In [791]:

#df_2014 = pd.read_csv("../data/afl_results_2014.csv")
#print(df_2014.shape)

#df_2015 = pd.read_csv("../data/afl_results_2015.csv")
#print(df_2015.shape)

#df_2016 = pd.read_csv("../data/afl_results_2016.csv")
#print(df_2016.shape)

df_2017 = pd.read_csv("../data/afl_results_2017.csv")
print(df_2017.shape)

df_2018 = pd.read_csv("../data/afl_results_2018.csv")
print(df_2018.shape)

df_2019 = pd.read_csv("../data/afl_results_2019.csv")
print(df_2019.shape)
df_2020 = pd.read_csv("../data/afl_results_2020.csv")
print(df_2020.shape)
df_2021 = pd.read_csv("../data/afl_results_2021.csv")
print(df_2021.shape)
#df_2022 = pd.read_csv("../data/afl_results_2022.csv")
#print(df_2022.shape)

df_all = pd.concat([df_2017, df_2018, df_2019, df_2020, df_2021], axis=0)
print(df_all.shape)
df_all.columns

(207, 75)
(207, 75)
(207, 75)
(162, 75)
(207, 75)
(990, 75)

Index(['match.name', 'match.date', 'match.status', 'match.matchId',
       'match.venue', 'match.utcStartTime', 'match.homeTeamId',
       'match.awayTeamId', 'match.round', 'match.venueLocalStartTime',
       'match.abbr', 'match.twitterHashTag', 'match.homeTeam.name',
       'match.homeTeam.timeZone', 'match.homeTeam.teamId',
       'match.homeTeam.abbr', 'match.homeTeam.nickname', 'match.awayTeam.name',
       'match.awayTeam.timeZone', 'match.awayTeam.teamId',
       'match.awayTeam.abbr', 'match.awayTeam.nickname', 'venue.address',
       'venue.name', 'venue.state', 'venue.timeZone', 'venue.venueId',
       'venue.abbreviation', 'venue.capacity', 'venue.groundDimension',
       'venue.latitude', 'venue.longitude', 'round.name', 'round.year',
       'round.roundId', 'round.abbreviation', 'round.competitionId',
       'round.roundNumber', 'status', 'matchId', 'scoreWorm', 'scoreMap',
       'lastUpdated', 'homeTeamScore.periodScore',
       'homeTeamScore.rushedBehinds', 'homeTeamScore.minutesInFront',
       'homeTeamScore.matchScore.totalScore', 'homeTeamScore.matchScore.goals',
       'homeTeamScore.matchScore.behinds',
       'homeTeamScore.matchScore.superGoals', 'awayTeamScore.periodScore',
       'awayTeamScore.rushedBehinds', 'awayTeamScore.minutesInFront',
       'awayTeamScore.matchScore.totalScore', 'awayTeamScore.matchScore.goals',
       'awayTeamScore.matchScore.behinds',
       'awayTeamScore.matchScore.superGoals', 'matchClock.periods',
       'weather.description', 'weather.tempInCelsius', 'weather.weatherType',
       'homeTeamScoreChart.goals', 'homeTeamScoreChart.leftBehinds',
       'homeTeamScoreChart.rightBehinds', 'homeTeamScoreChart.leftPosters',
       'homeTeamScoreChart.rightPosters', 'homeTeamScoreChart.rushedBehinds',
       'homeTeamScoreChart.touchedBehinds', 'awayTeamScoreChart.goals',
       'awayTeamScoreChart.leftBehinds', 'awayTeamScoreChart.rightBehinds',
       'awayTeamScoreChart.leftPosters', 'awayTeamScoreChart.rightPosters',
       'awayTeamScoreChart.rushedBehinds',
       'awayTeamScoreChart.touchedBehinds'],
      dtype='object')

In [792]:
df_all.dtypes

match.name                           object
match.date                           object
match.status                         object
match.matchId                        object
match.venue                          object
                                      ...
awayTeamScoreChart.rightBehinds       int64
awayTeamScoreChart.leftPosters        int64
awayTeamScoreChart.rightPosters       int64
awayTeamScoreChart.rushedBehinds      int64
awayTeamScoreChart.touchedBehinds     int64
Length: 75, dtype: object

In [793]:
df_all[['matchId']]

             matchId
0    CD_M20170140101
1    CD_M20170140102
2    CD_M20170140103
3    CD_M20170140104
4    CD_M20170140106
..               ...
202  CD_M20210142501
203  CD_M20210142502
204  CD_M20210142601
205  CD_M20210142602
206  CD_M20210142701

[990 rows x 1 columns]

In [794]:
df_all.head()

,match.name,match.date,match.status,match.matchId,match.venue,match.utcStartTime,match.homeTeamId,match.awayTeamId,match.round,match.venueLocalStartTime,...,homeTeamScoreChart.rightPosters,homeTeamScoreChart.rushedBehinds,homeTeamScoreChart.touchedBehinds,awayTeamScoreChart.goals,awayTeamScoreChart.leftBehinds,awayTeamScoreChart.rightBehinds,awayTeamScoreChart.leftPosters,awayTeamScoreChart.rightPosters,awayTeamScoreChart.rushedBehinds,awayTeamScoreChart.touchedBehinds
0,Carlton Vs Richmond,2017-03-23 08:20:00,CONCLUDED,CD_M20170140101,CD_V40,2017-03-23T08:20:00,CD_T30,CD_T120,CD_R201701401,2017-03-23T19:20:00,...,0,1,0,20,5,3,0,1,3,0
1,Collingwood Vs Western Bulldogs,2017-03-24 08:50:00,CONCLUDED,CD_M20170140102,CD_V40,2017-03-24T08:50:00,CD_T40,CD_T140,CD_R201701401,2017-03-24T19:50:00,...,1,3,0,15,3,2,0,1,4,0
2,St Kilda Vs Melbourne,2017-03-25 05:35:00,CONCLUDED,CD_M20170140103,CD_V190,2017-03-25T05:35:00,CD_T130,CD_T90,CD_R201701401,2017-03-25T16:35:00,...,0,2,0,18,4,5,0,1,2,0
3,Sydney Swans Vs Port Adelaide,2017-03-25 05:35:00,CONCLUDED,CD_M20170140104,CD_V60,2017-03-25T05:35:00,CD_T160,CD_T110,CD_R201701401,2017-03-25T16:35:00,...,0,1,0,17,1,6,0,0,0,1
4,Essendon Vs Hawthorn,2017-03-25 08:25:00,CONCLUDED,CD_M20170140106,CD_V40,2017-03-25T08:25:00,CD_T50,CD_T80,CD_R201701401,2017-03-25T19:25:00,...,0,2,0,12,5,9,0,0,5,0

In [795]:

df_all['Date'] = pd.to_datetime(df_all['match.date']).dt.strftime("%Y-%m-%d")
df_all[['Date','match.date']].head()

         Date           match.date
0  2017-03-23  2017-03-23 08:20:00
1  2017-03-24  2017-03-24 08:50:00
2  2017-03-25  2017-03-25 05:35:00
3  2017-03-25  2017-03-25 05:35:00
4  2017-03-25  2017-03-25 08:25:00

In [796]:
# Read player data

df_players_2017 = pd.read_csv("../data/afl_players_stats_2017.csv")
print(df_players_2017.shape)
df_players_2018 = pd.read_csv("../data/afl_players_stats_2018.csv")
print(df_players_2018.shape)
df_players_2019 = pd.read_csv("../data/afl_players_stats_2019.csv")
print(df_players_2019.shape)
df_players_2020 = pd.read_csv("../data/afl_players_stats_2020.csv")
print(df_players_2020.shape)
df_players_2021 = pd.read_csv("../data/afl_players_stats_2021.csv")
print(df_players_2021.shape)
df_players_2022 = pd.read_csv("../data/afl_players_stats_2022.csv")
print(df_players_2022.shape)

df_players = pd.concat([df_players_2017, df_players_2018, df_players_2019,df_players_2020,df_players_2021], axis=0)
print(df_players.shape)
df_players.columns

(9108, 59)
(9108, 59)
(9108, 59)
(7128, 59)
(9526, 59)
(3726, 59)
(43978, 59)

Index(['Season', 'Round', 'Date', 'Local.start.time', 'Venue', 'Attendance',
       'Home.team', 'HQ1G', 'HQ1B', 'HQ2G', 'HQ2B', 'HQ3G', 'HQ3B', 'HQ4G',
       'HQ4B', 'Home.score', 'Away.team', 'AQ1G', 'AQ1B', 'AQ2G', 'AQ2B',
       'AQ3G', 'AQ3B', 'AQ4G', 'AQ4B', 'Away.score', 'First.name', 'Surname',
       'ID', 'Jumper.No.', 'Playing.for', 'Kicks', 'Marks', 'Handballs',
       'Goals', 'Behinds', 'Hit.Outs', 'Tackles', 'Rebounds', 'Inside.50s',
       'Clearances', 'Clangers', 'Frees.For', 'Frees.Against',
       'Brownlow.Votes', 'Contested.Possessions', 'Uncontested.Possessions',
       'Contested.Marks', 'Marks.Inside.50', 'One.Percenters', 'Bounces',
       'Goal.Assists', 'Time.on.Ground..', 'Substitute', 'Umpire.1',
       'Umpire.2', 'Umpire.3', 'Umpire.4', 'group_id'],
      dtype='object')

In [797]:
df_players.head()

,Season,Round,Date,Local.start.time,Venue,Attendance,Home.team,HQ1G,HQ1B,HQ2G,...,One.Percenters,Bounces,Goal.Assists,Time.on.Ground..,Substitute,Umpire.1,Umpire.2,Umpire.3,Umpire.4,group_id
0,2017,1,2017-03-23,1920,M.C.G.,73137,Carlton,4,3,7,...,0,0,0,82,NaN,Sam Hay,Mathew Nicholls,Matt Stevic,NaN,NaN
1,2017,1,2017-03-23,1920,M.C.G.,73137,Carlton,4,3,7,...,1,0,0,81,NaN,Sam Hay,Mathew Nicholls,Matt Stevic,NaN,NaN
2,2017,1,2017-03-23,1920,M.C.G.,73137,Carlton,4,3,7,...,0,0,0,84,NaN,Sam Hay,Mathew Nicholls,Matt Stevic,NaN,NaN
3,2017,1,2017-03-23,1920,M.C.G.,73137,Carlton,4,3,7,...,1,0,0,76,NaN,Sam Hay,Mathew Nicholls,Matt Stevic,NaN,NaN
4,2017,1,2017-03-23,1920,M.C.G.,73137,Carlton,4,3,7,...,0,2,0,86,NaN,Sam Hay,Mathew Nicholls,Matt Stevic,NaN,NaN

In [798]:
def get_aggregate_player_stats(df=None):

    agg_stats = (df.rename(columns={ # Rename columns to lowercase
                    'Home.team': 'match.homeTeam.name',
                    'Away.team': 'match.awayTeam.name',
                     'Season',''
                    })
                   .groupby(by=['Date', 'Season', 'match.homeTeam.name', 'match.awayTeam.name'], as_index=False) # Groupby to aggregate the stats for each game
                   .sum()
                   #.drop(columns=['DE', 'TOG', 'Match_id']) # Drop columns
                   .assign(date=lambda df: pd.to_datetime(df.Date, format="%Y-%m-%d")) # Create a datetime object
                   .sort_values(by='Date')
                   .reset_index(drop=True))
    return agg_stats

In [799]:
agg_player = get_aggregate_player_stats(df_players)
print(agg_player.shape)
print(agg_player.columns)

(990, 50)
Index(['Date', 'Season', 'match.homeTeam.name', 'match.awayTeam.name',
       'Local.start.time', 'Attendance', 'HQ1G', 'HQ1B', 'HQ2G', 'HQ2B',
       'HQ3G', 'HQ3B', 'HQ4G', 'HQ4B', 'Home.score', 'AQ1G', 'AQ1B', 'AQ2G',
       'AQ2B', 'AQ3G', 'AQ3B', 'AQ4G', 'AQ4B', 'Away.score', 'ID', 'Kicks',
       'Marks', 'Handballs', 'Goals', 'Behinds', 'Hit.Outs', 'Tackles',
       'Rebounds', 'Inside.50s', 'Clearances', 'Clangers', 'Frees.For',
       'Frees.Against', 'Brownlow.Votes', 'Contested.Possessions',
       'Uncontested.Possessions', 'Contested.Marks', 'Marks.Inside.50',
       'One.Percenters', 'Bounces', 'Goal.Assists', 'Time.on.Ground..',
       'Substitute', 'group_id', 'date'],
      dtype='object')

In [800]:
print(df_all.shape)
print(agg_player.shape)

#df_all[['Date', 'match.homeTeam.name', 'match.awayTeam.name']]
#agg_player[['Date', 'match.homeTeam.name', 'match.awayTeam.name']]

(990, 76)
(990, 50)

In [801]:
agg_player

,Date,Season,match.homeTeam.name,match.awayTeam.name,Local.start.time,Attendance,HQ1G,HQ1B,HQ2G,HQ2B,...,Uncontested.Possessions,Contested.Marks,Marks.Inside.50,One.Percenters,Bounces,Goal.Assists,Time.on.Ground..,Substitute,group_id,date
0,2017-03-23,2017,Carlton,Richmond,84480,3218028,176,132,308,176,...,408,25,31,88,11,21,3600,0.0,0.0,2017-03-23
1,2017-03-24,2017,Collingwood,Western Bulldogs,85800,2915176,44,220,308,396,...,535,24,22,105,5,18,3597,0.0,0.0,2017-03-24
2,2017-03-25,2017,Essendon,Hawthorn,84700,3444936,176,176,220,352,...,515,13,25,107,13,17,3602,0.0,0.0,2017-03-25
3,2017-03-25,2017,Gold Coast,Brisbane Lions,83820,559240,88,88,132,220,...,391,19,24,120,22,23,3600,0.0,0.0,2017-03-25
4,2017-03-25,2017,St Kilda,Melbourne,71940,1594956,264,88,308,352,...,505,18,27,85,8,17,3602,0.0,0.0,2017-03-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,2021-09-03,2021,Geelong,Greater Western Sydney,80500,2028186,92,230,230,368,...,419,20,18,118,11,18,3598,0.0,0.0,2021-09-03
986,2021-09-04,2021,Brisbane Lions,Western Bulldogs,88320,1677620,230,138,276,230,...,396,15,18,136,13,17,3601,0.0,0.0,2021-09-04
987,2021-09-10,2021,Melbourne,Geelong,80500,2695554,230,138,414,276,...,410,21,21,103,14,11,3601,0.0,0.0,2021-09-10
988,2021-09-11,2021,Port Adelaide,Western Bulldogs,87860,1214400,46,46,138,184,...,421,29,23,114,13,16,3599,0.0,0.0,2021-09-11
989,2021-09-25,2021,Melbourne,Western Bulldogs,78890,2811428,184,230,230,414,...,440,14,21,99,16,23,3601,0.0,0.0,2021-09-25

In [802]:
afl_df = df_all.merge(agg_player, on=['Date', 'match.homeTeam.name', 'match.awayTeam.name'], how='left')

In [803]:
afl_df.shape

(990, 123)

In [804]:
print(afl_df.columns.tolist())

['match.name', 'match.date', 'match.status', 'match.matchId', 'match.venue', 'match.utcStartTime', 'match.homeTeamId', 'match.awayTeamId', 'match.round', 'match.venueLocalStartTime', 'match.abbr', 'match.twitterHashTag', 'match.homeTeam.name', 'match.homeTeam.timeZone', 'match.homeTeam.teamId', 'match.homeTeam.abbr', 'match.homeTeam.nickname', 'match.awayTeam.name', 'match.awayTeam.timeZone', 'match.awayTeam.teamId', 'match.awayTeam.abbr', 'match.awayTeam.nickname', 'venue.address', 'venue.name', 'venue.state', 'venue.timeZone', 'venue.venueId', 'venue.abbreviation', 'venue.capacity', 'venue.groundDimension', 'venue.latitude', 'venue.longitude', 'round.name', 'round.year', 'round.roundId', 'round.abbreviation', 'round.competitionId', 'round.roundNumber', 'status', 'matchId', 'scoreWorm', 'scoreMap', 'lastUpdated', 'homeTeamScore.periodScore', 'homeTeamScore.rushedBehinds', 'homeTeamScore.minutesInFront', 'homeTeamScore.matchScore.totalScore', 'homeTeamScore.matchScore.goals', 'homeTeamScore.matchScore.behinds', 'homeTeamScore.matchScore.superGoals', 'awayTeamScore.periodScore', 'awayTeamScore.rushedBehinds', 'awayTeamScore.minutesInFront', 'awayTeamScore.matchScore.totalScore', 'awayTeamScore.matchScore.goals', 'awayTeamScore.matchScore.behinds', 'awayTeamScore.matchScore.superGoals', 'matchClock.periods', 'weather.description', 'weather.tempInCelsius', 'weather.weatherType', 'homeTeamScoreChart.goals', 'homeTeamScoreChart.leftBehinds', 'homeTeamScoreChart.rightBehinds', 'homeTeamScoreChart.leftPosters', 'homeTeamScoreChart.rightPosters', 'homeTeamScoreChart.rushedBehinds', 'homeTeamScoreChart.touchedBehinds', 'awayTeamScoreChart.goals', 'awayTeamScoreChart.leftBehinds', 'awayTeamScoreChart.rightBehinds', 'awayTeamScoreChart.leftPosters', 'awayTeamScoreChart.rightPosters', 'awayTeamScoreChart.rushedBehinds', 'awayTeamScoreChart.touchedBehinds', 'Date', 'Season', 'Local.start.time', 'Attendance', 'HQ1G', 'HQ1B', 'HQ2G', 'HQ2B', 'HQ3G', 'HQ3B', 'HQ4G', 'HQ4B', 'Home.score', 'AQ1G', 'AQ1B', 'AQ2G', 'AQ2B', 'AQ3G', 'AQ3B', 'AQ4G', 'AQ4B', 'Away.score', 'ID', 'Kicks', 'Marks', 'Handballs', 'Goals', 'Behinds', 'Hit.Outs', 'Tackles', 'Rebounds', 'Inside.50s', 'Clearances', 'Clangers', 'Frees.For', 'Frees.Against', 'Brownlow.Votes', 'Contested.Possessions', 'Uncontested.Possessions', 'Contested.Marks', 'Marks.Inside.50', 'One.Percenters', 'Bounces', 'Goal.Assists', 'Time.on.Ground..', 'Substitute', 'group_id', 'date']

In [805]:
df_fixture = pd.read_csv("../data/fixture_2022.csv")
print(df_fixture.shape)
df_fixture.columns

df_next_games_teams = df_fixture[(df_fixture['status'] != "CONCLUDED") & (df_fixture['round.roundNumber'] == 11)]
df_next_games_teams = df_next_games_teams[['home.team.name','away.team.name']]
df_next_games_teams = df_next_games_teams.rename(columns={'home.team.name': 'match.homeTeam.name', 'away.team.name': 'match.awayTeam.name'})
df_next_games_teams

(198, 54)

   match.homeTeam.name match.awayTeam.name
90        Sydney Swans            Richmond
91      Brisbane Lions          GWS Giants
92        Geelong Cats      Adelaide Crows
93           Melbourne           Fremantle
94   West Coast Eagles    Western Bulldogs
95     Gold Coast Suns            Hawthorn
96            St Kilda     North Melbourne
97         Collingwood             Carlton
98       Port Adelaide            Essendon

In [806]:

df_fixture.columns
print(df_fixture.columns.tolist())

['id', 'providerId', 'utcStartTime', 'status', 'compSeason.id', 'compSeason.providerId', 'compSeason.name', 'compSeason.shortName', 'compSeason.currentRoundNumber', 'round.id', 'round.providerId', 'round.abbreviation', 'round.name', 'round.roundNumber', 'round.byes', 'home.team.id', 'home.team.providerId', 'home.team.name', 'home.team.abbreviation', 'home.team.nickname', 'home.team.teamType', 'home.team.club.id', 'home.team.club.providerId', 'home.team.club.name', 'home.team.club.abbreviation', 'home.team.club.nickname', 'home.score.goals', 'home.score.behinds', 'home.score.totalScore', 'home.score.superGoals', 'away.team.id', 'away.team.providerId', 'away.team.name', 'away.team.abbreviation', 'away.team.nickname', 'away.team.teamType', 'away.team.club.id', 'away.team.club.providerId', 'away.team.club.name', 'away.team.club.abbreviation', 'away.team.club.nickname', 'away.score.goals', 'away.score.behinds', 'away.score.totalScore', 'away.score.superGoals', 'venue.id', 'venue.providerId', 'venue.name', 'venue.abbreviation', 'venue.location', 'venue.state', 'venue.timezone', 'metadata.ticket_link', 'compSeason.year']

In [807]:
df_all.shape

(990, 76)

In [808]:
df_all.sort_values('match.date', inplace=True)
df_all.reset_index(inplace=True)
df_all.drop('index', axis=1, inplace=True)

In [809]:
afl_df.tail()

,match.name,match.date,match.status,match.matchId,match.venue,match.utcStartTime,match.homeTeamId,match.awayTeamId,match.round,match.venueLocalStartTime,...,Uncontested.Possessions,Contested.Marks,Marks.Inside.50,One.Percenters,Bounces,Goal.Assists,Time.on.Ground..,Substitute,group_id,date
985,Geelong Cats Vs GWS Giants,2021-09-03 09:50:00,CONCLUDED,CD_M20210142501,CD_V2925,2021-09-03T09:50:00,CD_T70,CD_T1010,CD_R202101425,2021-09-03T17:50:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
986,Brisbane Lions Vs Western Bulldogs,2021-09-04 09:20:00,CONCLUDED,CD_M20210142502,CD_V20,2021-09-04T09:20:00,CD_T20,CD_T140,CD_R202101425,2021-09-04T19:20:00,...,396.0,15.0,18.0,136.0,13.0,17.0,3601.0,0.0,0.0,2021-09-04
987,Melbourne Vs Geelong Cats,2021-09-10 09:50:00,CONCLUDED,CD_M20210142601,CD_V2925,2021-09-10T09:50:00,CD_T90,CD_T70,CD_R202101426,2021-09-10T17:50:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
988,Port Adelaide Vs Western Bulldogs,2021-09-11 09:40:00,CONCLUDED,CD_M20210142602,CD_V6,2021-09-11T09:40:00,CD_T110,CD_T140,CD_R202101426,2021-09-11T19:10:00,...,421.0,29.0,23.0,114.0,13.0,16.0,3599.0,0.0,0.0,2021-09-11
989,Melbourne Vs Western Bulldogs,2021-09-25 09:15:00,CONCLUDED,CD_M20210142701,CD_V2925,2021-09-25T09:15:00,CD_T90,CD_T140,CD_R202101427,2021-09-25T17:15:00,...,440.0,14.0,21.0,99.0,16.0,23.0,3601.0,0.0,0.0,2021-09-25

In [810]:
#from pandas.plotting import scatter_matrix

In [811]:
#scatter_matrix(df_all[df_all.iloc[:,50:56].columns], diagonal='kde', figsize=(14,14));

In [812]:
# HTGDIFF: Home Team Goal Difference
# ATGDIFF: Away Team Goal Difference

afl_df['HTGDIFF'] = afl_df['homeTeamScore.matchScore.goals'] - afl_df['awayTeamScore.matchScore.goals']
afl_df['ATGDIFF'] = afl_df['awayTeamScore.matchScore.goals'] - afl_df['homeTeamScore.matchScore.goals']

## Calculate AVG goal difference for home and away team rolling 4 Games

In [813]:
def avg_goal_diff(df, avg_h_a_diff, a_h_team, a_h_goal_letter):
    """
    input: 
        df = dataframe with all results
        avg_h_a_diff = name of the new column
        a_h_team = HomeTeam or AwayTeam
        a_h_goal_letter = 'H' for home or 'A' for away
    output: 
        avg_per_team = dictionary with with team as key and columns as values with new column H/ATGDIFF
    """
    df[avg_h_a_diff] = 0
    avg_per_team = {}
    all_teams = df[a_h_team].unique()
    for t in all_teams:
        df_team = df[df[a_h_team]==t].fillna(0)
        result = df_team['{}TGDIFF'.format(a_h_goal_letter)].rolling(4).mean()
        df_team[avg_h_a_diff] = result
        avg_per_team[t] = df_team
    return avg_per_team

In [814]:
d_AVGFTHG = avg_goal_diff(afl_df, 'AVGHTGDIFF', 'match.homeTeam.name', 'H')

In [815]:
def from_dict_value_to_df(d):
    """
    input = dictionary 
    output = dataframe as part of all the values from the dictionary
    """
    df = pd.DataFrame()
    for v in d.values():
        df = pd.concat([df,v])
    return df

In [816]:
df_AVGFTHG = from_dict_value_to_df(d_AVGFTHG)
df_AVGFTHG.sort_index(inplace=True)

In [817]:
d_AVGFTAG = avg_goal_diff(df_AVGFTHG, 'AVGATGDIFF', 'match.awayTeam.name', 'A')
afl_df = from_dict_value_to_df(d_AVGFTAG)
afl_df.sort_index(inplace=True)
afl_df['AVGATGDIFF'].fillna(0, inplace=True)

## Add per match game results from last three games

In [818]:
afl_df['goal_diff'] = afl_df['homeTeamScore.matchScore.goals'] - afl_df['awayTeamScore.matchScore.goals']


for index, row in df_all[df_all['match.status']=='CONCLUDED'].iterrows():
    if afl_df['goal_diff'][index] > 0:
        afl_df.at[index,'result'] = 3   # 3 is a win
    elif afl_df['goal_diff'][index] == 0:
        afl_df.at[index,'result'] = 2  # 2 is a draw
    else:
        afl_df.at[index,'result'] = 1  # 1 is a loss

In [819]:
afl_df.head()

,match.name,match.date,match.status,match.matchId,match.venue,match.utcStartTime,match.homeTeamId,match.awayTeamId,match.round,match.venueLocalStartTime,...,Time.on.Ground..,Substitute,group_id,date,HTGDIFF,ATGDIFF,AVGHTGDIFF,AVGATGDIFF,goal_diff,result
0,Carlton Vs Richmond,2017-03-23 08:20:00,CONCLUDED,CD_M20170140101,CD_V40,2017-03-23T08:20:00,CD_T30,CD_T120,CD_R201701401,2017-03-23T19:20:00,...,3600.0,0.0,0.0,2017-03-23 00:00:00,-6,6,0.0,0.0,-6,1.0
1,Collingwood Vs Western Bulldogs,2017-03-24 08:50:00,CONCLUDED,CD_M20170140102,CD_V40,2017-03-24T08:50:00,CD_T40,CD_T140,CD_R201701401,2017-03-24T19:50:00,...,3597.0,0.0,0.0,2017-03-24 00:00:00,-3,3,0.0,0.0,-3,1.0
2,St Kilda Vs Melbourne,2017-03-25 05:35:00,CONCLUDED,CD_M20170140103,CD_V190,2017-03-25T05:35:00,CD_T130,CD_T90,CD_R201701401,2017-03-25T16:35:00,...,3602.0,0.0,0.0,2017-03-25 00:00:00,-5,5,0.0,0.0,-5,1.0
3,Sydney Swans Vs Port Adelaide,2017-03-25 05:35:00,CONCLUDED,CD_M20170140104,CD_V60,2017-03-25T05:35:00,CD_T160,CD_T110,CD_R201701401,2017-03-25T16:35:00,...,0.0,0.0,0.0,0,-5,5,0.0,0.0,-5,1.0
4,Essendon Vs Hawthorn,2017-03-25 08:25:00,CONCLUDED,CD_M20170140106,CD_V40,2017-03-25T08:25:00,CD_T50,CD_T80,CD_R201701401,2017-03-25T19:25:00,...,3602.0,0.0,0.0,2017-03-25 00:00:00,5,-5,0.0,0.0,5,3.0

In [820]:
def previous_data(df, h_or_a_team, column, letter, past_n):
    """
    input: 
        df = dataframe with all results
        a_h_team = HomeTeam or AwayTeam
        column = column selected to get previous data from
    output:
        team_with_past_dict = dictionary with team as a key and columns as values with new 
                              columns with past value
    """
    d = dict()
    team_with_past_dict = dict()
    all_teams = df[h_or_a_team].unique()
    for team in all_teams:
        n_games = len(df[df[h_or_a_team]==team])
        team_with_past_dict[team] = df[df[h_or_a_team]==team]
        for i in range(1, past_n):
            d[i] = team_with_past_dict[team].assign(
                result=team_with_past_dict[team].groupby(h_or_a_team)[column].shift(i)
            ).fillna({'{}_X'.format(column): 0})
            team_with_past_dict[team]['{}_{}_{}'.format(letter, column, i)] = d[i].result
    return team_with_past_dict

In [821]:
def previous_data_call(df, side, column, letter, iterations):
    d = previous_data(df, side, column, letter, iterations)
    df_result= from_dict_value_to_df(d)
    df_result.sort_index(inplace=True)
    return df_result

In [822]:
df_last_home_results = previous_data_call(afl_df, 'match.homeTeam.name', 'result', 'H', 3)
df_last_away_results = previous_data_call(df_last_home_results, 'match.awayTeam.name', 'result', 'A', 3)

In [823]:
df_last_last_HTGDIFF_results = previous_data_call(df_last_away_results, 'match.homeTeam.name', 'HTGDIFF', 'H', 3)
df_last_last_ATGDIFF_results = previous_data_call(df_last_last_HTGDIFF_results, 'match.awayTeam.name', 'ATGDIFF', 'A', 3)

In [824]:
df_last_AVGFTHG_results = previous_data_call(df_last_last_ATGDIFF_results, 'match.homeTeam.name', 'AVGHTGDIFF', 'H', 2)
df_last_AVGFTAG_results = previous_data_call(df_last_AVGFTHG_results, 'match.awayTeam.name', 'AVGATGDIFF', 'A', 2)

In [825]:
afl_df = df_last_AVGFTAG_results.copy()

In [826]:
afl_df.shape

(990, 139)

In [827]:
afl_df

,match.name,match.date,match.status,match.matchId,match.venue,match.utcStartTime,match.homeTeamId,match.awayTeamId,match.round,match.venueLocalStartTime,...,H_result_1,H_result_2,A_result_1,A_result_2,H_HTGDIFF_1,H_HTGDIFF_2,A_ATGDIFF_1,A_ATGDIFF_2,H_AVGHTGDIFF_1,A_AVGATGDIFF_1
0,Carlton Vs Richmond,2017-03-23 08:20:00,CONCLUDED,CD_M20170140101,CD_V40,2017-03-23T08:20:00,CD_T30,CD_T120,CD_R201701401,2017-03-23T19:20:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Collingwood Vs Western Bulldogs,2017-03-24 08:50:00,CONCLUDED,CD_M20170140102,CD_V40,2017-03-24T08:50:00,CD_T40,CD_T140,CD_R201701401,2017-03-24T19:50:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,St Kilda Vs Melbourne,2017-03-25 05:35:00,CONCLUDED,CD_M20170140103,CD_V190,2017-03-25T05:35:00,CD_T130,CD_T90,CD_R201701401,2017-03-25T16:35:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sydney Swans Vs Port Adelaide,2017-03-25 05:35:00,CONCLUDED,CD_M20170140104,CD_V60,2017-03-25T05:35:00,CD_T160,CD_T110,CD_R201701401,2017-03-25T16:35:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Essendon Vs Hawthorn,2017-03-25 08:25:00,CONCLUDED,CD_M20170140106,CD_V40,2017-03-25T08:25:00,CD_T50,CD_T80,CD_R201701401,2017-03-25T19:25:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,Geelong Cats Vs GWS Giants,2021-09-03 09:50:00,CONCLUDED,CD_M20210142501,CD_V2925,2021-09-03T09:50:00,CD_T70,CD_T1010,CD_R202101425,2021-09-03T17:50:00,...,2.0,3.0,1.0,1.0,0.0,2.0,1.0,1.0,1.00,2.25
986,Brisbane Lions Vs Western Bulldogs,2021-09-04 09:20:00,CONCLUDED,CD_M20210142502,CD_V20,2021-09-04T09:20:00,CD_T20,CD_T140,CD_R202101425,2021-09-04T19:20:00,...,3.0,3.0,3.0,1.0,6.0,14.0,-4.0,4.0,5.25,2.50
987,Melbourne Vs Geelong Cats,2021-09-10 09:50:00,CONCLUDED,CD_M20210142601,CD_V2925,2021-09-10T09:50:00,CD_T90,CD_T70,CD_R202101426,2021-09-10T17:50:00,...,3.0,3.0,3.0,1.0,4.0,7.0,-7.0,2.0,1.50,2.75
988,Port Adelaide Vs Western Bulldogs,2021-09-11 09:40:00,CONCLUDED,CD_M20210142602,CD_V6,2021-09-11T09:40:00,CD_T110,CD_T140,CD_R202101426,2021-09-11T19:10:00,...,3.0,3.0,2.0,3.0,7.0,16.0,0.0,-4.0,5.75,0.75
989,Melbourne Vs Western Bulldogs,2021-09-25 09:15:00,CONCLUDED,CD_M20210142701,CD_V2925,2021-09-25T09:15:00,CD_T90,CD_T140,CD_R202101427,2021-09-25T17:15:00,...,3.0,3.0,1.0,2.0,13.0,4.0,11.0,0.0,5.00,2.75

In [828]:
df_matches_numeric = afl_df._get_numeric_data()

In [829]:
df_matches_numeric.columns

Index(['match.homeTeam.timeZone', 'match.awayTeam.timeZone', 'venue.capacity',
       'venue.groundDimension', 'venue.latitude', 'venue.longitude',
       'round.year', 'round.roundNumber', 'scoreWorm', 'scoreMap',
       'homeTeamScore.rushedBehinds', 'homeTeamScore.minutesInFront',
       'homeTeamScore.matchScore.totalScore', 'homeTeamScore.matchScore.goals',
       'homeTeamScore.matchScore.behinds',
       'homeTeamScore.matchScore.superGoals', 'awayTeamScore.rushedBehinds',
       'awayTeamScore.minutesInFront', 'awayTeamScore.matchScore.totalScore',
       'awayTeamScore.matchScore.goals', 'awayTeamScore.matchScore.behinds',
       'awayTeamScore.matchScore.superGoals', 'weather.tempInCelsius',
       'homeTeamScoreChart.goals', 'homeTeamScoreChart.leftBehinds',
       'homeTeamScoreChart.rightBehinds', 'homeTeamScoreChart.leftPosters',
       'homeTeamScoreChart.rightPosters', 'homeTeamScoreChart.rushedBehinds',
       'homeTeamScoreChart.touchedBehinds', 'awayTeamScoreChart.goals',
       'awayTeamScoreChart.leftBehinds', 'awayTeamScoreChart.rightBehinds',
       'awayTeamScoreChart.leftPosters', 'awayTeamScoreChart.rightPosters',
       'awayTeamScoreChart.rushedBehinds', 'awayTeamScoreChart.touchedBehinds',
       'Season', 'Local.start.time', 'Attendance', 'HQ1G', 'HQ1B', 'HQ2G',
       'HQ2B', 'HQ3G', 'HQ3B', 'HQ4G', 'HQ4B', 'Home.score', 'AQ1G', 'AQ1B',
       'AQ2G', 'AQ2B', 'AQ3G', 'AQ3B', 'AQ4G', 'AQ4B', 'Away.score', 'ID',
       'Kicks', 'Marks', 'Handballs', 'Goals', 'Behinds', 'Hit.Outs',
       'Tackles', 'Rebounds', 'Inside.50s', 'Clearances', 'Clangers',
       'Frees.For', 'Frees.Against', 'Brownlow.Votes', 'Contested.Possessions',
       'Uncontested.Possessions', 'Contested.Marks', 'Marks.Inside.50',
       'One.Percenters', 'Bounces', 'Goal.Assists', 'Time.on.Ground..',
       'Substitute', 'group_id', 'HTGDIFF', 'ATGDIFF', 'AVGHTGDIFF',
       'AVGATGDIFF', 'goal_diff', 'result', 'H_result_1', 'H_result_2',
       'A_result_1', 'A_result_2', 'H_HTGDIFF_1', 'H_HTGDIFF_2', 'A_ATGDIFF_1',
       'A_ATGDIFF_2', 'H_AVGHTGDIFF_1', 'A_AVGATGDIFF_1'],
      dtype='object')

In [830]:
#df_matches_numeric.drop(['match.homeTeam.timeZone', 'match.awayTeam.timeZone', 'goal_diff', 'result', 'homeTeamScore.matchScore.goals', 'awayTeamScore.matchScore.goals'], axis=1, inplace=True)


#df_matches_numeric = df_matches_numeric[['HTGDIFF','ATGDIFF','awayTeamScore.minutesInFront','homeTeamScore.minutesInFront','homeTeamScoreChart.goals','homeTeamScore.matchScore.totalScore','awayTeamScore.matchScore.totalScore','AVGHTGDIFF','round.year','awayTeamScoreChart.goals']]



df_matches_numeric.isnull().sum(axis = 0)

match.homeTeam.timeZone     0
match.awayTeam.timeZone     0
venue.capacity              0
venue.groundDimension       0
venue.latitude              0
                           ..
H_HTGDIFF_2                36
A_ATGDIFF_1                18
A_ATGDIFF_2                36
H_AVGHTGDIFF_1             18
A_AVGATGDIFF_1             18
Length: 99, dtype: int64

In [831]:
#df_norm = (df_matches_numeric - df_matches_numeric.min()) / (df_matches_numeric.max() - df_matches_numeric.min())

In [832]:
#df_norm.columns

In [833]:
predictable_columns = [
       'round.year', 'round.roundNumber', 'scoreWorm', 'scoreMap',
       'homeTeamScore.rushedBehinds', 'homeTeamScore.minutesInFront',
       'homeTeamScore.matchScore.totalScore', 'homeTeamScore.matchScore.goals',
       'homeTeamScore.matchScore.behinds',
       'homeTeamScore.matchScore.superGoals', 'awayTeamScore.rushedBehinds',
       'awayTeamScore.minutesInFront', 'awayTeamScore.matchScore.totalScore',
       'awayTeamScore.matchScore.goals', 'awayTeamScore.matchScore.behinds',
       'awayTeamScore.matchScore.superGoals', 'weather.tempInCelsius',
       'homeTeamScoreChart.goals', 'homeTeamScoreChart.leftBehinds',
       'homeTeamScoreChart.rightBehinds', 'homeTeamScoreChart.leftPosters',
       'homeTeamScoreChart.rightPosters', 'homeTeamScoreChart.rushedBehinds',
       'homeTeamScoreChart.touchedBehinds', 'awayTeamScoreChart.goals',
       'awayTeamScoreChart.leftBehinds', 'awayTeamScoreChart.rightBehinds',
       'awayTeamScoreChart.leftPosters', 'awayTeamScoreChart.rightPosters',
       'awayTeamScoreChart.rushedBehinds', 'awayTeamScoreChart.touchedBehinds', 
        'Attendance', 'HQ1G', 'HQ1B', 'HQ2G','HQ2B', 'HQ3G', 'HQ3B', 'HQ4G', 'HQ4B', 'Home.score', 'AQ1G', 'AQ1B',
       'AQ2G', 'AQ2B', 'AQ3G', 'AQ3B', 'AQ4G', 'AQ4B', 'Away.score', 'ID',
       'Kicks', 'Marks', 'Handballs', 'Goals', 'Behinds', 'Hit.Outs',
       'Tackles', 'Rebounds', 'Inside.50s', 'Clearances', 'Clangers',
       'Frees.For', 'Frees.Against', 'Brownlow.Votes', 'Contested.Possessions',
       'Uncontested.Possessions', 'Contested.Marks', 'Marks.Inside.50',
       'One.Percenters', 'Bounces', 'Goal.Assists', 'Time.on.Ground..',
       'Substitute', 'group_id', 'HTGDIFF', 'ATGDIFF', 'AVGHTGDIFF',
       'AVGATGDIFF', 'goal_diff', 'result', 'H_result_1', 'H_result_2',
       'A_result_1', 'A_result_2', 'H_HTGDIFF_1', 'H_HTGDIFF_2', 'A_ATGDIFF_1',
       'A_ATGDIFF_2', 'H_AVGHTGDIFF_1', 'A_AVGATGDIFF_1'
]

In [834]:

#

In [835]:

all_cols = ['match.matchId','match.date', 'match.status', 'match.venue', 'match.homeTeam.name', 'match.awayTeam.name','venue.name', 'venue.state', 'round.name', 'round.year', 'round.roundNumber', 'status',
'homeTeamScore.rushedBehinds', 'homeTeamScore.minutesInFront',
       'homeTeamScore.matchScore.totalScore', 'homeTeamScore.matchScore.goals',
       'homeTeamScore.matchScore.behinds',
       'homeTeamScore.matchScore.superGoals', 'awayTeamScore.rushedBehinds',
       'awayTeamScore.minutesInFront', 'awayTeamScore.matchScore.totalScore',
       'awayTeamScore.matchScore.goals', 'awayTeamScore.matchScore.behinds',
       'awayTeamScore.matchScore.superGoals', 'weather.tempInCelsius',
       'homeTeamScoreChart.goals', 'homeTeamScoreChart.leftBehinds',
       'homeTeamScoreChart.rightBehinds', 'homeTeamScoreChart.leftPosters',
       'homeTeamScoreChart.rightPosters', 'homeTeamScoreChart.rushedBehinds',
       'homeTeamScoreChart.touchedBehinds', 'awayTeamScoreChart.goals',
       'awayTeamScoreChart.leftBehinds', 'awayTeamScoreChart.rightBehinds',
       'awayTeamScoreChart.leftPosters', 'awayTeamScoreChart.rightPosters',
       'awayTeamScoreChart.rushedBehinds', 'awayTeamScoreChart.touchedBehinds', 
       'HQ1G', 'HQ1B', 'HQ2G',
       'HQ2B', 'HQ3G', 'HQ3B', 'HQ4G', 'HQ4B', 'Home.score', 'AQ1G', 'AQ1B',
       'AQ2G', 'AQ2B', 'AQ3G', 'AQ3B', 'AQ4G', 'AQ4B', 'Away.score',
       'Kicks', 'Marks', 'Handballs', 'Goals', 'Behinds', 'Hit.Outs',
       'Tackles', 'Rebounds', 'Inside.50s', 'Clearances', 'Clangers',
       'Frees.For', 'Frees.Against', 'Brownlow.Votes', 'Contested.Possessions',
       'Uncontested.Possessions', 'Contested.Marks', 'Marks.Inside.50',
       'One.Percenters', 'Bounces', 'Goal.Assists', 'Time.on.Ground..',
       'Substitute', 'group_id', 'HTGDIFF', 'ATGDIFF', 'AVGHTGDIFF',
       'AVGATGDIFF', 'goal_diff', 'result', 'H_result_1', 'H_result_2',
       'A_result_1', 'A_result_2', 'H_HTGDIFF_1', 'H_HTGDIFF_2', 'A_ATGDIFF_1',
       'A_ATGDIFF_2', 'H_AVGHTGDIFF_1', 'A_AVGATGDIFF_1','Season']

non_feature_cols = ['match.matchId','match.date', 'match.status', 'match.venue', 'match.homeTeam.name', 'match.awayTeam.name','venue.name', 'venue.state', 'round.name', 'round.year', 'round.roundNumber', 'status','Season']
feature_cols = [
       'homeTeamScore.rushedBehinds', 'homeTeamScore.minutesInFront',
       'homeTeamScore.matchScore.totalScore', 'homeTeamScore.matchScore.goals',
       'homeTeamScore.matchScore.behinds',
       'homeTeamScore.matchScore.superGoals', 'awayTeamScore.rushedBehinds',
       'awayTeamScore.minutesInFront', 'awayTeamScore.matchScore.totalScore',
       'awayTeamScore.matchScore.goals', 'awayTeamScore.matchScore.behinds',
       'awayTeamScore.matchScore.superGoals', 'weather.tempInCelsius',
       'homeTeamScoreChart.goals', 'homeTeamScoreChart.leftBehinds',
       'homeTeamScoreChart.rightBehinds', 'homeTeamScoreChart.leftPosters',
       'homeTeamScoreChart.rightPosters', 'homeTeamScoreChart.rushedBehinds',
       'homeTeamScoreChart.touchedBehinds', 'awayTeamScoreChart.goals',
       'awayTeamScoreChart.leftBehinds', 'awayTeamScoreChart.rightBehinds',
       'awayTeamScoreChart.leftPosters', 'awayTeamScoreChart.rightPosters',
       'awayTeamScoreChart.rushedBehinds', 'awayTeamScoreChart.touchedBehinds', 
       'HQ1G', 'HQ1B', 'HQ2G',
       'HQ2B', 'HQ3G', 'HQ3B', 'HQ4G', 'HQ4B', 'Home.score', 'AQ1G', 'AQ1B',
       'AQ2G', 'AQ2B', 'AQ3G', 'AQ3B', 'AQ4G', 'AQ4B', 'Away.score',
       'Kicks', 'Marks', 'Handballs', 'Goals', 'Behinds', 'Hit.Outs',
       'Tackles', 'Rebounds', 'Inside.50s', 'Clearances', 'Clangers',
       'Frees.For', 'Frees.Against', 'Brownlow.Votes', 'Contested.Possessions',
       'Uncontested.Possessions', 'Contested.Marks', 'Marks.Inside.50',
       'One.Percenters', 'Bounces', 'Goal.Assists', 'Time.on.Ground..',
       'Substitute', 'group_id', 'HTGDIFF', 'ATGDIFF', 'AVGHTGDIFF',
       'AVGATGDIFF', 'goal_diff', 'result', 'H_result_1', 'H_result_2',
       'A_result_1', 'A_result_2', 'H_HTGDIFF_1', 'H_HTGDIFF_2', 'A_ATGDIFF_1',
       'A_ATGDIFF_2', 'H_AVGHTGDIFF_1', 'A_AVGATGDIFF_1']

In [836]:
# Define a function which returns a DataFrame with the expontential moving average for each numeric stat
def create_exp_weighted_avgs(df, span):
    # Create a copy of the df with only the game id and the team - we will add cols to this df
    ema_features = df[['match.matchId', 'match.homeTeam.name']].copy()
    
    feature_names = [col for col in df.columns if col.startswith('f_')] # Get a list of columns we will iterate over
    
    for feature_name in feature_names:
        feature_ema = (df.groupby('match.homeTeam.name')[feature_name]
                         .transform(lambda row: (row.ewm(span=span)
                                                    .mean()
                                                    .shift(1))))
        ema_features[feature_name] = feature_ema
    
    return ema_features

In [837]:
afl_df = afl_df[all_cols] 

afl_df = afl_df.rename(columns={col: 'f_' + col for col in afl_df if col not in non_feature_cols})

In [838]:
afl_df

,match.matchId,match.date,match.status,match.venue,match.homeTeam.name,match.awayTeam.name,venue.name,venue.state,round.name,round.year,...,f_H_result_2,f_A_result_1,f_A_result_2,f_H_HTGDIFF_1,f_H_HTGDIFF_2,f_A_ATGDIFF_1,f_A_ATGDIFF_2,f_H_AVGHTGDIFF_1,f_A_AVGATGDIFF_1,Season
0,CD_M20170140101,2017-03-23 08:20:00,CONCLUDED,CD_V40,Carlton,Richmond,MCG,VIC,Round 1,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0
1,CD_M20170140102,2017-03-24 08:50:00,CONCLUDED,CD_V40,Collingwood,Western Bulldogs,MCG,VIC,Round 1,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0
2,CD_M20170140103,2017-03-25 05:35:00,CONCLUDED,CD_V190,St Kilda,Melbourne,Marvel Stadium,VIC,Round 1,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0
3,CD_M20170140104,2017-03-25 05:35:00,CONCLUDED,CD_V60,Sydney Swans,Port Adelaide,SCG,NSW,Round 1,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,CD_M20170140106,2017-03-25 08:25:00,CONCLUDED,CD_V40,Essendon,Hawthorn,MCG,VIC,Round 1,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,CD_M20210142501,2021-09-03 09:50:00,CONCLUDED,CD_V2925,Geelong Cats,GWS Giants,Optus Stadium,WA,Semi Finals,2021,...,3.0,1.0,1.0,0.0,2.0,1.0,1.0,1.00,2.25,0.0
986,CD_M20210142502,2021-09-04 09:20:00,CONCLUDED,CD_V20,Brisbane Lions,Western Bulldogs,Gabba,QLD,Semi Finals,2021,...,3.0,3.0,1.0,6.0,14.0,-4.0,4.0,5.25,2.50,2021.0
987,CD_M20210142601,2021-09-10 09:50:00,CONCLUDED,CD_V2925,Melbourne,Geelong Cats,Optus Stadium,WA,Preliminary Finals,2021,...,3.0,3.0,1.0,4.0,7.0,-7.0,2.0,1.50,2.75,0.0
988,CD_M20210142602,2021-09-11 09:40:00,CONCLUDED,CD_V6,Port Adelaide,Western Bulldogs,Adelaide Oval,SA,Preliminary Finals,2021,...,3.0,2.0,3.0,7.0,16.0,0.0,-4.0,5.75,0.75,2021.0
989,CD_M20210142701,2021-09-25 09:15:00,CONCLUDED,CD_V2925,Melbourne,Western Bulldogs,Optus Stadium,WA,Grand Final,2021,...,3.0,1.0,2.0,13.0,4.0,11.0,0.0,5.00,2.75,2021.0

In [839]:
features_rolling_averages = create_exp_weighted_avgs(afl_df, span=10)

In [840]:
features_rolling_averages

,match.matchId,match.homeTeam.name,f_homeTeamScore.rushedBehinds,f_homeTeamScore.minutesInFront,f_homeTeamScore.matchScore.totalScore,f_homeTeamScore.matchScore.goals,f_homeTeamScore.matchScore.behinds,f_homeTeamScore.matchScore.superGoals,f_awayTeamScore.rushedBehinds,f_awayTeamScore.minutesInFront,...,f_H_result_1,f_H_result_2,f_A_result_1,f_A_result_2,f_H_HTGDIFF_1,f_H_HTGDIFF_2,f_A_ATGDIFF_1,f_A_ATGDIFF_2,f_H_AVGHTGDIFF_1,f_A_AVGATGDIFF_1
0,CD_M20170140101,Carlton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CD_M20170140102,Collingwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CD_M20170140103,St Kilda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CD_M20170140104,Sydney Swans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CD_M20170140106,Essendon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,CD_M20210142501,Geelong Cats,1.956514,69.822090,84.264137,12.580504,8.781110,0.0,1.717857,40.707593,...,2.625644,2.542453,1.682219,1.675945,3.434343,3.753090,0.687902,2.932833,4.573635,1.174156
986,CD_M20210142502,Brisbane Lions,2.163206,91.111804,107.121318,15.697377,12.937058,0.0,2.025780,25.569536,...,2.614721,2.529102,2.150236,2.009177,5.337287,3.412209,-0.997595,-0.162466,3.973466,-1.101700
987,CD_M20210142601,Melbourne,1.938016,66.341828,80.340300,11.474148,11.495409,0.0,2.080765,41.295150,...,1.984318,1.758605,1.691276,2.134047,1.091183,-0.221919,2.220539,-0.883206,0.616011,0.554413
988,CD_M20210142602,Port Adelaide,1.773957,71.836106,92.316690,13.575835,10.861678,0.0,2.721514,37.809636,...,2.405456,2.273333,1.412603,1.431004,4.556527,2.013492,0.922223,3.608795,2.738029,1.252487
989,CD_M20210142701,Melbourne,2.312927,75.916167,88.460352,12.842503,11.405334,0.0,2.429721,34.150483,...,2.168990,1.984318,1.929230,1.927853,1.620067,1.091183,0.544050,-0.358977,0.776739,0.953617

In [841]:
features = afl_df[['match.date', 'match.matchId', 'match.homeTeam.name', 'match.awayTeam.name', 'venue.name','round.year']].copy()

In [842]:
features = pd.merge(features, features_rolling_averages, on=['match.matchId', 'match.homeTeam.name'])

In [843]:
#afl_df = afl_df.dropna()

In [844]:
form_btwn_teams = afl_df[['match.matchId', 'match.homeTeam.name', 'match.awayTeam.name', 'f_goal_diff']].copy()

form_btwn_teams_inv = pd.DataFrame()

for index, row in form_btwn_teams.iterrows():
    home = row['match.homeTeam.name']
    away = row['match.awayTeam.name']
    matchid = row['match.matchId']
    margin = row['f_goal_diff']
    
    form_btwn_teams_inv = form_btwn_teams_inv.append({'match.matchId': matchid, 'match.homeTeam.name': away, 'match.awayTeam.name': home, 'f_goal_diff': -1*margin}, ignore_index=True)

In [845]:
print(form_btwn_teams_inv.shape)
print(form_btwn_teams.shape)
form_btwn_teams_1 = pd.concat([form_btwn_teams, form_btwn_teams_inv], ignore_index=True, axis=0)

print(form_btwn_teams_1.shape)

(990, 4)
(990, 4)
(1980, 4)

In [846]:
form_btwn_teams.columns

Index(['match.matchId', 'match.homeTeam.name', 'match.awayTeam.name',
       'f_goal_diff'],
      dtype='object')

In [847]:

form_btwn_teams_1['f_form_margin_btwn_teams'] = (form_btwn_teams_1.groupby(['match.homeTeam.name', 'match.awayTeam.name'])['f_goal_diff']
                                                          .transform(lambda row: row.rolling(5).mean().shift())
                                                          .fillna(0))

form_btwn_teams_1['f_form_past_5_btwn_teams'] = \
(form_btwn_teams_1.assign(win=lambda df: df.apply(lambda row: 1 if row.f_goal_diff > 0 else 0, axis='columns'))
              .groupby(['match.homeTeam.name', 'match.awayTeam.name'])['win']
              .transform(lambda row: row.rolling(5).mean().shift() * 5)
              .fillna(0))

In [848]:
form_btwn_teams_1

,match.matchId,match.homeTeam.name,match.awayTeam.name,f_goal_diff,f_form_margin_btwn_teams,f_form_past_5_btwn_teams
0,CD_M20170140101,Carlton,Richmond,-6,0.0,0.0
1,CD_M20170140102,Collingwood,Western Bulldogs,-3,0.0,0.0
2,CD_M20170140103,St Kilda,Melbourne,-5,0.0,0.0
3,CD_M20170140104,Sydney Swans,Port Adelaide,-5,0.0,0.0
4,CD_M20170140106,Essendon,Hawthorn,5,0.0,0.0
...,...,...,...,...,...,...
1975,CD_M20210142501,GWS Giants,Geelong Cats,-5,-1.2,2.0
1976,CD_M20210142502,Western Bulldogs,Brisbane Lions,0,-0.2,3.0
1977,CD_M20210142601,Geelong Cats,Melbourne,-13,-1.0,2.0
1978,CD_M20210142602,Western Bulldogs,Port Adelaide,11,-0.6,3.0
1979,CD_M20210142701,Western Bulldogs,Melbourne,-11,-0.6,3.0

In [849]:
print(features.shape)

(990, 91)

In [850]:
features

,match.date,match.matchId,match.homeTeam.name,match.awayTeam.name,venue.name,Season,f_homeTeamScore.rushedBehinds,f_homeTeamScore.minutesInFront,f_homeTeamScore.matchScore.totalScore,f_homeTeamScore.matchScore.goals,...,f_H_result_1,f_H_result_2,f_A_result_1,f_A_result_2,f_H_HTGDIFF_1,f_H_HTGDIFF_2,f_A_ATGDIFF_1,f_A_ATGDIFF_2,f_H_AVGHTGDIFF_1,f_A_AVGATGDIFF_1
0,2017-03-23 08:20:00,CD_M20170140101,Carlton,Richmond,MCG,2017.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-03-24 08:50:00,CD_M20170140102,Collingwood,Western Bulldogs,MCG,2017.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-03-25 05:35:00,CD_M20170140103,St Kilda,Melbourne,Marvel Stadium,2017.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-03-25 05:35:00,CD_M20170140104,Sydney Swans,Port Adelaide,SCG,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-03-25 08:25:00,CD_M20170140106,Essendon,Hawthorn,MCG,2017.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,2021-09-03 09:50:00,CD_M20210142501,Geelong Cats,GWS Giants,Optus Stadium,0.0,1.956514,69.822090,84.264137,12.580504,...,2.625644,2.542453,1.682219,1.675945,3.434343,3.753090,0.687902,2.932833,4.573635,1.174156
986,2021-09-04 09:20:00,CD_M20210142502,Brisbane Lions,Western Bulldogs,Gabba,2021.0,2.163206,91.111804,107.121318,15.697377,...,2.614721,2.529102,2.150236,2.009177,5.337287,3.412209,-0.997595,-0.162466,3.973466,-1.101700
987,2021-09-10 09:50:00,CD_M20210142601,Melbourne,Geelong Cats,Optus Stadium,0.0,1.938016,66.341828,80.340300,11.474148,...,1.984318,1.758605,1.691276,2.134047,1.091183,-0.221919,2.220539,-0.883206,0.616011,0.554413
988,2021-09-11 09:40:00,CD_M20210142602,Port Adelaide,Western Bulldogs,Adelaide Oval,2021.0,1.773957,71.836106,92.316690,13.575835,...,2.405456,2.273333,1.412603,1.431004,4.556527,2.013492,0.922223,3.608795,2.738029,1.252487
989,2021-09-25 09:15:00,CD_M20210142701,Melbourne,Western Bulldogs,Optus Stadium,2021.0,2.312927,75.916167,88.460352,12.842503,...,2.168990,1.984318,1.929230,1.927853,1.620067,1.091183,0.544050,-0.358977,0.776739,0.953617

In [851]:
#print(features.shape)
# Merge to our features df
#features = pd.merge(features, form_btwn_teams_1.drop(columns=['f_goal_diff']), on=['match.matchId', 'match.homeTeam.name', 'match.awayTeam.name'])

#print(features.shape)

In [852]:
features.columns

Index(['match.date', 'match.matchId', 'match.homeTeam.name',
       'match.awayTeam.name', 'venue.name', 'Season',
       'f_homeTeamScore.rushedBehinds', 'f_homeTeamScore.minutesInFront',
       'f_homeTeamScore.matchScore.totalScore',
       'f_homeTeamScore.matchScore.goals',
       'f_homeTeamScore.matchScore.behinds',
       'f_homeTeamScore.matchScore.superGoals',
       'f_awayTeamScore.rushedBehinds', 'f_awayTeamScore.minutesInFront',
       'f_awayTeamScore.matchScore.totalScore',
       'f_awayTeamScore.matchScore.goals',
       'f_awayTeamScore.matchScore.behinds',
       'f_awayTeamScore.matchScore.superGoals', 'f_weather.tempInCelsius',
       'f_homeTeamScoreChart.goals', 'f_homeTeamScoreChart.leftBehinds',
       'f_homeTeamScoreChart.rightBehinds', 'f_homeTeamScoreChart.leftPosters',
       'f_homeTeamScoreChart.rightPosters',
       'f_homeTeamScoreChart.rushedBehinds',
       'f_homeTeamScoreChart.touchedBehinds', 'f_awayTeamScoreChart.goals',
       'f_awayTeamScoreChart.leftBehinds', 'f_awayTeamScoreChart.rightBehinds',
       'f_awayTeamScoreChart.leftPosters', 'f_awayTeamScoreChart.rightPosters',
       'f_awayTeamScoreChart.rushedBehinds',
       'f_awayTeamScoreChart.touchedBehinds', 'f_HQ1G', 'f_HQ1B', 'f_HQ2G',
       'f_HQ2B', 'f_HQ3G', 'f_HQ3B', 'f_HQ4G', 'f_HQ4B', 'f_Home.score',
       'f_AQ1G', 'f_AQ1B', 'f_AQ2G', 'f_AQ2B', 'f_AQ3G', 'f_AQ3B', 'f_AQ4G',
       'f_AQ4B', 'f_Away.score', 'f_Kicks', 'f_Marks', 'f_Handballs',
       'f_Goals', 'f_Behinds', 'f_Hit.Outs', 'f_Tackles', 'f_Rebounds',
       'f_Inside.50s', 'f_Clearances', 'f_Clangers', 'f_Frees.For',
       'f_Frees.Against', 'f_Brownlow.Votes', 'f_Contested.Possessions',
       'f_Uncontested.Possessions', 'f_Contested.Marks', 'f_Marks.Inside.50',
       'f_One.Percenters', 'f_Bounces', 'f_Goal.Assists', 'f_Time.on.Ground..',
       'f_Substitute', 'f_group_id', 'f_HTGDIFF', 'f_ATGDIFF', 'f_AVGHTGDIFF',
       'f_AVGATGDIFF', 'f_goal_diff', 'f_result', 'f_H_result_1',
       'f_H_result_2', 'f_A_result_1', 'f_A_result_2', 'f_H_HTGDIFF_1',
       'f_H_HTGDIFF_2', 'f_A_ATGDIFF_1', 'f_A_ATGDIFF_2', 'f_H_AVGHTGDIFF_1',
       'f_A_AVGATGDIFF_1'],
      dtype='object')

In [853]:
# Get the result and merge to the feature_df

match_results = (afl_df.assign(result=lambda df: df.apply(lambda row: 1 if row['f_goal_diff'] > 0 else 0, axis=1)))


# Merge result column to feature_df
feature_df = pd.merge(features, match_results[['match.matchId', 'result']], on='match.matchId')

In [854]:
afl_df = afl_df.dropna()
feature_df = feature_df.dropna()

In [859]:

# Create our test and train sets from our afl DataFrame; drop the columns which leak the result, duplicates, and the advanced
# stats which don't have data until 2015

feature_columns = [col for col in feature_df if col.startswith('f_')]

# Create our test set
test_x = feature_df.loc[feature_df['round.year'] == 2021, feature_columns]
test_y = feature_df.loc[feature_df['round.year'] == 2021, 'result']

# Create our train set
X = feature_df.loc[feature_df['round.year'] != 2021, feature_columns]
y = feature_df.loc[feature_df['round.year'] != 2021, 'result']

# Scale features
scaler = StandardScaler()
X[feature_columns] = scaler.fit_transform(X[feature_columns])
test_x[feature_columns] = scaler.transform(test_x[feature_columns])

In [860]:
X

,f_homeTeamScore.rushedBehinds,f_homeTeamScore.minutesInFront,f_homeTeamScore.matchScore.totalScore,f_homeTeamScore.matchScore.goals,f_homeTeamScore.matchScore.behinds,f_homeTeamScore.matchScore.superGoals,f_awayTeamScore.rushedBehinds,f_awayTeamScore.minutesInFront,f_awayTeamScore.matchScore.totalScore,f_awayTeamScore.matchScore.goals,...,f_H_result_1,f_H_result_2,f_A_result_1,f_A_result_2,f_H_HTGDIFF_1,f_H_HTGDIFF_2,f_A_ATGDIFF_1,f_A_ATGDIFF_2,f_H_AVGHTGDIFF_1,f_A_AVGATGDIFF_1
46,0.995121,0.278548,0.482520,0.496838,0.142904,0.0,-0.954187,0.225441,1.995093,1.945787,...,-2.654232,-2.557185,-0.050977,-3.084245,-3.286672,-1.244322,1.226556,3.787656,-0.305433,0.672241
49,-0.808297,-0.803186,-0.161249,-0.246692,0.503384,0.0,1.788782,1.116054,2.262643,1.995432,...,-2.654232,-2.557185,2.765628,-3.084245,-2.391025,-2.850032,-1.997761,1.639783,-0.305433,0.672241
54,1.344534,0.298063,0.852546,0.605647,2.112397,0.0,0.078538,0.014001,2.241377,2.328532,...,-0.064241,-2.557185,-3.493495,-3.084245,-0.483628,-1.886606,4.003052,3.787656,-0.305433,0.672241
55,-1.107227,-0.622930,0.482877,0.470807,0.323385,0.0,1.225333,0.816797,1.913808,1.771728,...,-1.707724,-2.557185,0.249502,-0.060617,-1.544254,-2.320148,-0.152542,-2.849271,-0.305433,0.672241
58,0.538631,-1.038439,1.726269,1.881684,-0.200677,0.0,1.815093,1.487564,2.045537,2.080308,...,-0.064241,-2.557185,-0.676890,-3.084245,2.120382,-0.602037,0.084611,1.639783,-0.305433,0.672241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,-0.297893,-0.443276,-1.212763,-1.143786,-1.076388,0.0,0.063031,0.652257,0.364750,0.398546,...,-0.847303,-1.437039,-0.943266,-1.598340,-1.213991,-1.594702,-0.072959,0.882544,-1.564060,1.637969
981,-0.110989,0.409764,0.770307,0.901961,-0.515264,0.0,1.384557,-0.294929,-0.778656,-0.915634,...,0.343878,-0.033576,-1.915275,-1.636245,0.383322,0.223952,0.659038,1.195717,0.600397,1.468679
982,-0.383027,0.802222,0.930727,1.028760,-0.205499,0.0,-0.196823,-0.665514,-1.180714,-1.325591,...,0.938890,0.667471,-0.983685,0.730544,0.905446,0.699021,0.419382,-0.682467,0.570347,-1.384157
985,-0.093069,0.650486,0.041435,0.234264,-1.296920,0.0,-0.480088,-0.461513,-0.823327,-0.722294,...,1.173408,0.943786,-1.358448,-1.226239,0.854649,0.924380,0.661361,1.610930,1.460167,1.754400
987,-0.124447,0.462936,-0.261007,-0.314750,0.237001,0.0,0.238447,-0.429525,-0.765843,-0.682049,...,-0.336619,-0.835346,-1.330104,0.032970,0.077373,-0.352163,1.347710,-0.028344,-0.067629,1.183215

In [861]:
# Create a list of standard classifiers
classifiers = [
    #Ensemble Methods
    ensemble.AdaBoostClassifier(),
    ensemble.BaggingClassifier(),
    ensemble.ExtraTreesClassifier(),
    ensemble.GradientBoostingClassifier(),
    ensemble.RandomForestClassifier(),

    #Gaussian Processes
    gaussian_process.GaussianProcessClassifier(),
    
    #GLM
    linear_model.LogisticRegressionCV(),
    
    #Navies Bayes
    naive_bayes.BernoulliNB(),
    naive_bayes.GaussianNB(),
    
    #SVM
    svm.SVC(probability=True),
    svm.NuSVC(probability=True),
    
    #Discriminant Analysis
    discriminant_analysis.LinearDiscriminantAnalysis(),
    discriminant_analysis.QuadraticDiscriminantAnalysis(),

    
    #xgboost: http://xgboost.readthedocs.io/en/latest/model.html
#    XGBClassifier()    
]

# Define a functiom which finds the best algorithms for our modelling task
def find_best_algorithms(classifier_list, X, y):
    # This function is adapted from https://www.kaggle.com/yassineghouzam/titanic-top-4-with-ensemble-modeling
    # Cross validate model with Kfold stratified cross validation
    kfold = StratifiedKFold(n_splits=5)
    
    # Grab the cross validation scores for each algorithm
    cv_results = [cross_val_score(classifier, X, y, scoring = "neg_log_loss", cv = kfold) for classifier in classifier_list]
    cv_means = [cv_result.mean() * -1 for cv_result in cv_results]
    cv_std = [cv_result.std() for cv_result in cv_results]
    algorithm_names = [alg.__class__.__name__ for alg in classifiers]
    
    # Create a DataFrame of all the CV results
    cv_results = pd.DataFrame({
        "Mean Log Loss": cv_means,
        "Log Loss Std": cv_std,
        "Algorithm": algorithm_names
    })
    
    
    return cv_results.sort_values(by='Mean Log Loss').reset_index(drop=True)

In [862]:
best_algos = find_best_algorithms(classifiers, X, y)
best_algos

    Mean Log Loss  Log Loss Std                      Algorithm
0        0.673228      0.017845           LogisticRegressionCV
1        0.675244      0.014112                            SVC
2        0.677947      0.018588         RandomForestClassifier
3        0.688873      0.006776           ExtraTreesClassifier
4        0.691305      0.002115             AdaBoostClassifier
5        0.693221      0.000176      GaussianProcessClassifier
6        0.698981      0.020499                          NuSVC
7        0.730160      0.029321     GradientBoostingClassifier
8        0.770716      0.074368     LinearDiscriminantAnalysis
9        1.012387      0.209428              BaggingClassifier
10       2.373567      0.371259                    BernoulliNB
11       2.886939      0.580104                     GaussianNB
12      11.803790      2.327501  QuadraticDiscriminantAnalysis

In [863]:
# Try a logistic regression model and see how it performs in terms of accuracy
kfold = StratifiedKFold(n_splits=5)
cv_scores = cross_val_score(linear_model.LogisticRegressionCV(), X, y, scoring='accuracy', cv=kfold)
cv_scores.mean()

0.5947943082558468

In [870]:
chosen_algorithms = best_algos.loc[best_algos['Mean Log Loss'] < 0.68, 'Algorithm'].tolist()
chosen_algorithms

['LogisticRegressionCV', 'SVC', 'RandomForestClassifier']

In [871]:
# Define a function which optimises the hyperparameters of our chosen algorithms
def optimise_hyperparameters(train_x, train_y, algorithms, parameters):
    kfold = StratifiedKFold(n_splits=5)
    best_estimators = []
    
    for alg, params in zip(algorithms, parameters):
        gs = GridSearchCV(alg, param_grid=params, cv=kfold, scoring='neg_log_loss', verbose=1)
        gs.fit(train_x, train_y)
        best_estimators.append(gs.best_estimator_)
    return best_estimators

# Define our parameters to run a grid search over
lr_grid = {
    "C": [0.0001, 0.001, 0.01, 0.05, 0.2, 0.5],
    "solver": ["newton-cg", "lbfgs", "liblinear"]
}

# Add our algorithms and parameters to lists to be used in our function
alg_list = [LogisticRegression()]
param_list = [lr_grid]

In [872]:
# Find the best estimators, then add our other estimators which don't need optimisation
best_estimators = optimise_hyperparameters(X, y, alg_list, param_list)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

In [873]:
lr_best_params = best_estimators[0].get_params()
lr_best_params

{'C': 0.001,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'l1_ratio': None,
 'max_iter': 100,
 'multi_class': 'auto',
 'n_jobs': None,
 'penalty': 'l2',
 'random_state': None,
 'solver': 'newton-cg',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

In [874]:
kfold = StratifiedKFold(n_splits=10)
cv_scores = cross_val_score(linear_model.LogisticRegression(**lr_best_params), X, y, scoring='neg_log_loss', cv=kfold)
cv_scores.mean()

-0.6702661382183026

In [875]:
lr = LogisticRegression(**lr_best_params)
lr.fit(X, y)
final_predictions = lr.predict(test_x)

accuracy = (final_predictions == test_y).mean() * 100

print("Our accuracy in predicting the 2018 season is: {:.2f}%".format(accuracy))

Our accuracy in predicting the 2018 season is: 57.30%

In [876]:
predictions_probs = lr.predict_proba(test_x)

In [877]:
metrics.log_loss(test_y, predictions_probs)

0.6688559310596035

In [886]:
df_next_games_teams.head()

   match.homeTeam.name match.awayTeam.name
90        Sydney Swans            Richmond
91      Brisbane Lions          GWS Giants
92        Geelong Cats      Adelaide Crows
93           Melbourne           Fremantle
94   West Coast Eagles    Western Bulldogs

In [890]:
df_fixture.columns

# venue.name

Index(['id', 'providerId', 'utcStartTime', 'status', 'compSeason.id',
       'compSeason.providerId', 'compSeason.name', 'compSeason.shortName',
       'compSeason.currentRoundNumber', 'round.id', 'round.providerId',
       'round.abbreviation', 'round.name', 'round.roundNumber', 'round.byes',
       'home.team.id', 'home.team.providerId', 'home.team.name',
       'home.team.abbreviation', 'home.team.nickname', 'home.team.teamType',
       'home.team.club.id', 'home.team.club.providerId', 'home.team.club.name',
       'home.team.club.abbreviation', 'home.team.club.nickname',
       'home.score.goals', 'home.score.behinds', 'home.score.totalScore',
       'home.score.superGoals', 'away.team.id', 'away.team.providerId',
       'away.team.name', 'away.team.abbreviation', 'away.team.nickname',
       'away.team.teamType', 'away.team.club.id', 'away.team.club.providerId',
       'away.team.club.name', 'away.team.club.abbreviation',
       'away.team.club.nickname', 'away.score.goals', 'away.score.behinds',
       'away.score.totalScore', 'away.score.superGoals', 'venue.id',
       'venue.providerId', 'venue.name', 'venue.abbreviation',
       'venue.location', 'venue.state', 'venue.timezone',
       'metadata.ticket_link', 'compSeason.year'],
      dtype='object')

In [900]:
df_next_games_teams.columns

Index(['match.homeTeam.name', 'match.awayTeam.name', 'venue.name',
       'compSeason.year', 'compSeason.currentRoundNumber'],
      dtype='object')

In [904]:
df_next_games_teams = df_fixture[(df_fixture['status'] != "CONCLUDED") & (df_fixture['round.roundNumber'] == 11)]
df_next_games_teams = df_next_games_teams[['home.team.name','away.team.name','venue.name','compSeason.year','compSeason.currentRoundNumber']]
df_next_games_teams = df_next_games_teams.rename(columns={'home.team.name': 'match.homeTeam.name', 'away.team.name': 'match.awayTeam.name','compSeason.year':'round.year','compSeason.currentRoundNumber':'round.roundNumber'})
df_next_games_teams

,match.homeTeam.name,match.awayTeam.name,venue.name,round.year,round.roundNumber
90,Sydney Swans,Richmond,SCG,2022,10
91,Brisbane Lions,GWS Giants,Gabba,2022,10
92,Geelong Cats,Adelaide Crows,GMHBA Stadium,2022,10
93,Melbourne,Fremantle,MCG,2022,10
94,West Coast Eagles,Western Bulldogs,Optus Stadium,2022,10
95,Gold Coast Suns,Hawthorn,TIO Stadium,2022,10
96,St Kilda,North Melbourne,Marvel Stadium,2022,10
97,Collingwood,Carlton,MCG,2022,10
98,Port Adelaide,Essendon,Adelaide Oval,2022,10

In [917]:
afl_df[['match.homeTeam.name','match.awayTeam.name','venue.name','round.year','round.year']]

,match.homeTeam.name,match.awayTeam.name,venue.name,round.year,Season
28,North Melbourne,Western Bulldogs,Marvel Stadium,2017,2017.0
38,Gold Coast Suns,Adelaide Crows,Metricon Stadium,2017,0.0
39,Sydney Swans,GWS Giants,SCG,2017,0.0
41,St Kilda,Geelong Cats,Marvel Stadium,2017,0.0
42,Hawthorn,West Coast Eagles,MCG,2017,0.0
...,...,...,...,...,...
985,Geelong Cats,GWS Giants,Optus Stadium,2021,0.0
986,Brisbane Lions,Western Bulldogs,Gabba,2021,2021.0
987,Melbourne,Geelong Cats,Optus Stadium,2021,0.0
988,Port Adelaide,Western Bulldogs,Adelaide Oval,2021,2021.0
989,Melbourne,Western Bulldogs,Optus Stadium,2021,2021.0

In [906]:


afl_data = afl_df.append(df_next_games_teams).reset_index(drop=True)

In [908]:
afl_data.tail()

,match.matchId,match.date,match.status,match.venue,match.homeTeam.name,match.awayTeam.name,venue.name,venue.state,round.name,round.year,...,f_H_result_2,f_A_result_1,f_A_result_2,f_H_HTGDIFF_1,f_H_HTGDIFF_2,f_A_ATGDIFF_1,f_A_ATGDIFF_2,f_H_AVGHTGDIFF_1,f_A_AVGATGDIFF_1,Season
955,NaN,NaN,NaN,NaN,West Coast Eagles,Western Bulldogs,Optus Stadium,NaN,NaN,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
956,NaN,NaN,NaN,NaN,Gold Coast Suns,Hawthorn,TIO Stadium,NaN,NaN,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
957,NaN,NaN,NaN,NaN,St Kilda,North Melbourne,Marvel Stadium,NaN,NaN,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
958,NaN,NaN,NaN,NaN,Collingwood,Carlton,MCG,NaN,NaN,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
959,NaN,NaN,NaN,NaN,Port Adelaide,Essendon,Adelaide Oval,NaN,NaN,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [909]:
features_rolling_averages = create_exp_weighted_avgs(afl_data, span=10)

#features = pd.merge(features, features_rolling_averages, on=['game', 'team'])

In [911]:
features_rolling_averages.tail()

,match.matchId,match.homeTeam.name,f_homeTeamScore.rushedBehinds,f_homeTeamScore.minutesInFront,f_homeTeamScore.matchScore.totalScore,f_homeTeamScore.matchScore.goals,f_homeTeamScore.matchScore.behinds,f_homeTeamScore.matchScore.superGoals,f_awayTeamScore.rushedBehinds,f_awayTeamScore.minutesInFront,...,f_H_result_1,f_H_result_2,f_A_result_1,f_A_result_2,f_H_HTGDIFF_1,f_H_HTGDIFF_2,f_A_ATGDIFF_1,f_A_ATGDIFF_2,f_H_AVGHTGDIFF_1,f_A_AVGATGDIFF_1
955,NaN,West Coast Eagles,1.678850,58.593949,77.708592,11.448560,9.017233,0.0,1.692148,55.197563,...,2.239899,2.070988,1.797974,1.727270,0.803361,0.759675,3.028950,0.398025,1.542379,0.904616
956,NaN,Gold Coast Suns,2.169249,36.789995,57.180926,7.921465,9.652136,0.0,2.997215,71.284376,...,1.540075,1.660092,1.734427,1.996513,-3.643422,-1.341875,1.202213,-1.152658,-1.787120,-0.349131
957,NaN,St Kilda,2.072744,71.867696,82.811113,12.119953,10.091396,0.0,1.975409,34.822257,...,1.903380,1.659670,1.936918,1.445606,-0.438276,-1.424631,-0.500125,3.605006,-0.581163,-0.527044
958,NaN,Collingwood,1.912048,52.700545,68.034627,9.833914,9.031142,0.0,1.492472,49.088527,...,1.271635,1.331999,1.840508,2.450866,-2.051196,-1.618122,0.232497,-3.308486,-1.657993,-2.133147
959,NaN,Port Adelaide,1.633241,58.774636,83.713305,12.198357,10.523163,0.0,2.590339,52.935506,...,2.513559,2.405454,1.519401,1.716280,5.000801,4.556499,0.754553,2.225355,3.285683,1.161131

In [913]:
features

,match.date,match.matchId,match.homeTeam.name,match.awayTeam.name,venue.name,Season,f_homeTeamScore.rushedBehinds,f_homeTeamScore.minutesInFront,f_homeTeamScore.matchScore.totalScore,f_homeTeamScore.matchScore.goals,...,f_H_result_1,f_H_result_2,f_A_result_1,f_A_result_2,f_H_HTGDIFF_1,f_H_HTGDIFF_2,f_A_ATGDIFF_1,f_A_ATGDIFF_2,f_H_AVGHTGDIFF_1,f_A_AVGATGDIFF_1
0,2017-03-23 08:20:00,CD_M20170140101,Carlton,Richmond,MCG,2017.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-03-24 08:50:00,CD_M20170140102,Collingwood,Western Bulldogs,MCG,2017.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-03-25 05:35:00,CD_M20170140103,St Kilda,Melbourne,Marvel Stadium,2017.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-03-25 05:35:00,CD_M20170140104,Sydney Swans,Port Adelaide,SCG,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-03-25 08:25:00,CD_M20170140106,Essendon,Hawthorn,MCG,2017.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,2021-09-03 09:50:00,CD_M20210142501,Geelong Cats,GWS Giants,Optus Stadium,0.0,1.956514,69.822090,84.264137,12.580504,...,2.625644,2.542453,1.682219,1.675945,3.434343,3.753090,0.687902,2.932833,4.573635,1.174156
986,2021-09-04 09:20:00,CD_M20210142502,Brisbane Lions,Western Bulldogs,Gabba,2021.0,2.163206,91.111804,107.121318,15.697377,...,2.614721,2.529102,2.150236,2.009177,5.337287,3.412209,-0.997595,-0.162466,3.973466,-1.101700
987,2021-09-10 09:50:00,CD_M20210142601,Melbourne,Geelong Cats,Optus Stadium,0.0,1.938016,66.341828,80.340300,11.474148,...,1.984318,1.758605,1.691276,2.134047,1.091183,-0.221919,2.220539,-0.883206,0.616011,0.554413
988,2021-09-11 09:40:00,CD_M20210142602,Port Adelaide,Western Bulldogs,Adelaide Oval,2021.0,1.773957,71.836106,92.316690,13.575835,...,2.405456,2.273333,1.412603,1.431004,4.556527,2.013492,0.922223,3.608795,2.738029,1.252487
989,2021-09-25 09:15:00,CD_M20210142701,Melbourne,Western Bulldogs,Optus Stadium,2021.0,2.312927,75.916167,88.460352,12.842503,...,2.168990,1.984318,1.929230,1.927853,1.620067,1.091183,0.544050,-0.358977,0.776739,0.953617

In [914]:
features = afl_df[['match.date', 'match.matchId', 'match.homeTeam.name', 'match.awayTeam.name', 'venue.name','round.year']].copy()

In [916]:
features.tail()

,match.date,match.matchId,match.homeTeam.name,match.awayTeam.name,venue.name,Season
985,2021-09-03 09:50:00,CD_M20210142501,Geelong Cats,GWS Giants,Optus Stadium,0.0
986,2021-09-04 09:20:00,CD_M20210142502,Brisbane Lions,Western Bulldogs,Gabba,2021.0
987,2021-09-10 09:50:00,CD_M20210142601,Melbourne,Geelong Cats,Optus Stadium,0.0
988,2021-09-11 09:40:00,CD_M20210142602,Port Adelaide,Western Bulldogs,Adelaide Oval,2021.0
989,2021-09-25 09:15:00,CD_M20210142701,Melbourne,Western Bulldogs,Optus Stadium,2021.0